html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 100px;
}

.logo-photoshop {
	width: 1000px;
	padding-bottom: 100px;
	margin-left: 250px;
}