@CHARSET "ISO-8859-1";

body {
	padding-top: 70px;
}

.casella {
	margin-top: 12px;
}

.btn-catalogo {
	margin-top: 12px;
	display: inline;
	color: #1a4112;
	color: #000;
}

.navbar-colori {
	border-style: ridge;
	height: 1px;
	background: transparent
		linear-gradient(#36559C 0%, #4C6EB9 5%, #38599C 50%, #3D5EA4 95%,
		#4C6CB3 100%) repeat scroll 0% 0%;
	height: 1px;
	border-color: #23355a;
	border: 2px ridge;
}

.dropdown-menu {
	background: -webkit-linear-gradient(#3c5a9b 0%, #3b5998 5%, #3b5998 50%, #3b5998 95%
		, #3c5a9b 100%);
	background: -moz-linear-gradient(#3c5a9b 0%, #3b5998 5%, #3b5998 50%, #3b5998 95%,
		#3c5a9b 100%);
	position: absolute;
	top: 130%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.navbar-default
.navbar-nav>.active>a, .navbar-default
.navbar-nav>.active>a
:focus, .navbar-default
.navbar-nav>.active>a {
	background-color: #afbdd4;
}
:hover /* serve in una thumbnail a separare le righe con uno spazio

.row:not(:first-child){
  margin-top:10px;
}*/