@CHARSET "ISO-8859-1";

body {
	padding-top: 70px;
}

.casella {
	margin-top: 12px;
}

.btn-catalogo {
	margin-top: 12px;
	display: inline;
}

.navbar-colori {
	background: -webkit-linear-gradient(#73D752 0%, #51be2c 25%, #439f24 50%, #51be2c 75%, #73D752 100%);
	background: -moz-linear-gradient(#73D752 0%, #51be2c 25%, #439f24 50%, #51be2c 75%, #73D752 100%);
	border-color: #2CBA0D;
	border-style: ridge;
	height: 1px;
}

.dropdown-menu {
	background: -webkit-linear-gradient(#73D752 0%, #51be2c 25%, #439f24 50%, #51be2c 75%, #73D752 100%);
	background: -moz-linear-gradient(#73D752 0%, #51be2c 25%, #439f24 50%, #51be2c 75%, #73D752 100%);
	position: absolute;
	top: 130%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.navbar-default
.navbar-nav>.active>a, .navbar-default
.navbar-nav>.active>a
:focus, .navbar-default
.navbar-nav>.active>a {
	  background-color: #5AA840;
}
:hover /* serve in una thumbnail a separare le righe con uno spazio

.row:not(:first-child){
  margin-top:10px;
}*/