#descrizione {
	color: rgb(0, 0, 0);
	font-weight: bold;
	text-decoration: underline;
}

.ui-spinner-input {
	width: 96%;
}

.ui-spinner {
	width: 30%;
}

.icona-prodotto {
	padding-bottom:35px;
}